<h1>Articles tagged with <%= @tag.name %></h1>
<ul>
	<% @tag.articles.each do |article| %>
	<li><%= link_to article.title, article_path(article) %><br />
		<% if logged_in? %>
			<%= link_to "Delete tag", tag_path(@tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
		<% end %>
	</li>
	<% end %>
</ul>
<p>
	<%= link_to "<< Back to articles", articles_path %>
</p>